<template name="loginForm">
	<form action="/login" method="post" class="container" id="loginForm">
		<div class="col l12 m12 s12">
			<div class="l5 m6 s6 col center-align">
				<h2>Login</h2>
				
			 	<div class="switch">

			    <label>
			      Public
			      <input type="checkbox" name="usertype">
			      <span class="lever"></span>
			      Private
			    </label>
			  </div>
			</div>
			
			<div class="l5 col-offset-l3 m6 s6 col login-form">
				<div class="input-field col s6">
					<label for="username">Username:</label>
					<input type="text" name="username" id="username">
				</div>
				<div class="input-field col s6">
					<label for="password">Password:</label>
					<input type="password" name="password" id="password">
				</div>
			</div>
			
			<div class="l5 col-offset-l3 m6 s6  login-submit-bg">
				<input type="submit" value="Log In" class="waves-effect waves-light btn">
			</div>
		</div>
	</form>
</template>